<div class="container">
  <div class="row">
    <div class="heading-title text-center">
      <h3 class="text-uppercase">NOTRE TEAM </h3>
    </div>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <div class="team-member">
        <div class="team-img">
          <img src="https://image.freepik.com/free-photo/elegant-man-with-thumbs-up_1149-1595.jpg" alt="team member" class="img-responsive">
        </div>
        <div class="team-hover">
          <div class="desk">
            <h4>Salut les Gars!</h4>
            <p>J'adors mon putin de métier de Web Designer.</p>
          </div>
         <div class="s-link">
           <a href="#"><i class="fa fa-facebook"></i></a>
           <a href="#"><i class="fa fa-twitter"></i></a>
           <a href="#"><i class="fa fa-google-plus"></i></a>
         </div>
      </div>
    </div>
    <div class="team-title">
      <h5>François Thiounn</h5>
      <span>Founder & Ceo</span>
    </div>
</div>
   <div class="col-md-4 col-sm-4">
    <div class="team-member">
        <div class="team-img">
          <img src="https://image.freepik.com/free-photo/elegant-man-with-thumbs-up_1149-1595.jpg">
        </div>
        <div class="team-hover">
          <div class="desk">
            <h4>Salut les Gars!</h4>
            <p>J'adors mon putin de métier d'animateur.</p>
          </div>
         <div class="s-link">
           <a href="#"><i class="fa fa-facebook"></i></a>
           <a href="#"><i class="fa fa-twitter"></i></a>
           <a href="#"><i class="fa fa-google-plus"></i></a>
         </div>
      </div>
    </div>
    <div class="team-title">
      <h5>Andrei Kpop</h5>
      <span>Animateur de soirée</span>
    </div>
</div>

    <div class="col-md-4 col-sm-4">
    <div class="team-member">
        <div class="team-img">
          <img src="https://image.freepik.com/free-photo/elegant-man-with-thumbs-up_1149-1595.jpg">
        </div>
        <div class="team-hover">
          <div class="desk">
            <h4>Salut les Gars!</h4>
            <p>J'adors mon putin de métier de responsable marque !</p>
          </div>
         <div class="s-link">
           <a href="#"><i class="fa fa-facebook"></i></a>
           <a href="#"><i class="fa fa-twitter"></i></a>
           <a href="#"><i class="fa fa-google-plus"></i></a>
         </div>
      </div>
    </div>
    <div class="team-title">
      <h5>Fanny Jestin</h5>
      <span>Responsable Marque</span>
    </div>

</div>
</div>
</div>
</div>
</div>

