<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<section class="jumbotron">
  <h1>WELCOME</h1>
  <p>BEST WEBSITE TO FOLLOW YOUR FAVORITE EVENTS !</p>
  <%=link_to "CREATE YOUR EVENT", new_event_path, class: "button" %>
</section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
  <p> <% @events.each do |event|  %> </p>
            <div class="col-md-6" >
              <div class="card mb-4 box-shadow">
                <div class="card-body">
			  <img class="card-img-top" src="https://images.unsplash.com/photo-1535074153497-b08c5aa9c236?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d2aaf944a59f16fe1fe72f5057b3a7dd&auto=format&fit=crop&w=500&q=80" alt="Card image cap">
                  <p class="card-text">Event <%= link_to event.title , event_path(:id => event.id) %></p>
                  <div class="d-flex justify-content-between align-items-center">
                     <button type="button" class="btn btn-sm btn-outline-secondary">Organisé par <%= link_to User.find(event.admin_id).first_name , users_show_path(:id =>  User.find(event.admin_id).id) %></button>
                    <small class="text-muted">Crée le <%=event.created_at%></small>
                  </div>
                </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
    </div>

